# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/